h5 {
    color: #ff893a;
}

h4,h6 {
    color:darkblue;
}

hr {
    width: 20%;
}

.purple-icon {
    background: #d8d4f1;
    padding: 10px;
    border-radius: 20px;
    color: #422fbd;
}

.inline {
    display: flex;
    justify-content: space-between;
}

.info-description{
    padding: 5px;
    color: white;
    border-radius: 6px;
}

.info-description-color-1{
    background: #422fbd
}

.info-description-color-2{
    background: #ff893a
}

.info-description-color-3{
    background: #585665
}

.custom-circle{
    border: 1px solid black;
    border-radius: 20px;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.custom-label{
    padding: 6px;
    border-radius: 6px;
    font-size: 10px;
}

.custom-label-red{
    background: #fdece7;
    color: #f4501d;
    font-weight: bold;
}

.custom-label-purple{
    color: #422fbd;
    background: #d8d4f1;
    font-weight: bold;
}


/*mainy: f09428
mainblue: 0e5484

    color: #f09428;
    color: #3f51b5;
    color: #ff5722;
    color: #ff5722;*/